body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom right, #24c4c4, #f4bb33);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 12px;
  color: #777;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to bottom right, #24c4c4, #f4bb33);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.social-login {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.social-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-btn svg {
  width: 40px;
  height: 40px;
}

.social-btn:hover {
  transform: scale(1.1);
}
